@import "ress";
@import "ver";
@import "common";
@import "sub";

.faq__wrap{
	width: 60vw;
	max-width: 900px;
	margin:0 auto;
}
.faq__wrap--headline{
	padding: 40px 0 60px;
	font-size: 2rem;
}
.faq__wrap--question{
	color: $pink;
	font-weight: bold;
	font-size:1.5rem;
	height: 70px;
	position: relative;
	display: flex;
	align-items: center;
	&::before{
		content: "";
		display: block;
		width: 70px;
		height: 70px;
		background: rgba($color: $yellow, $alpha: 0.3);
		border-radius: 50%;
		z-index: -1;
		left: -45px;
		position: absolute;
	}
}
.faq__wrap--answer{
	font-size:1.3rem;
	padding: 25px 0 60px;
}