header
	h1.nav__link--logo
		a(href="index.html",target="page")
			img(src="img/logo.svg", alt="Gifcle")
	nav
		ul
			li
				a(href="flow.html",target="page") Gifcleについて
			li
				a(href="shops.html",target="page") 提携店舗一覧
			li
				a(href="faq.html",target="page") よくある質問
			li
				a(href="contact.html",target="page") お問い合わせ