doctype html
html(lang="ja")
	head
		include _head.pug
		link(rel="stylesheet", href="css/faq.css")
		title よくある質問｜Gifcle
	body
		include _sub_nav.pug
		main
			h2
				span よくある質問
			section.faq__wrap
				h3.faq__wrap--headline Gifcleについて
				div.faq__wrap--question Gifcleはどんなお店と提携していますか？
				div.faq__wrap--answer Gifcleは50種類以上の店舗様と提携しております。詳細はこちらをご参照ください。
				div.faq__wrap--question 「きもちのカテゴリー」とはなんですか？
				div.faq__wrap--answer 予定を登録する時、並びにギフトの送信先を探す際感情をカテゴライズすることができます。<br>詳細はこちらをご参照ください。
				div.faq__wrap--question Gifcleと提携したいのですが？
				div.faq__wrap--answer 提携に関するご連絡はお問い合わせフォームより承っております。詳細はこちらをご参照ください。
			section.faq__wrap
				h3.faq__wrap--headline ギフトについて
				div.faq__wrap--question ギフトは自分の知り合いから届くのですか？
				div.faq__wrap--answer ギフトは受け取り・送信共にユーザー様のお知り合いではなく、近い予定を登録されている他のユーザー様がランダムで選出されます。<br>また、フレンド機能といった特定のユーザー様との繋がりを要する機能もございません。
				div.faq__wrap--question きもちのカテゴリーを選択することにより、受け取れるギフトは変わりますか？
				div.faq__wrap--answer 変わりません。ギフトとして受け取るのは登録時に希望した金額分のポイントのみで、<br>ギフトを受け取った後にお好きなクーポンに交換していただくことができます。
		include _sub_foot.pug
		include _foot.pug